.yellowgreen{
  &:before {
    background: yellowgreen;
  }
}
.cadetblue{
  &:before {
    background: cadetblue;
  }
}
.burlywood{
  &:before {
    background: burlywood;
  }
}
.\#935e38{
  &:before {
    background: #935e38;
  }
}
.\#f5838e{
  &:before {
    background: #f5838e;
  }
}
.\#8eb9e7{
  &:before {
    background: #8eb9e7;
  }
}
.\#1c4673{
  &:before {
    background: #1c4673;
  }
}
.\#e7b419{
  &:before {
    background: #e7b419;
  }
}
.\#24b2c9{
  &:before {
    background: #24b2c9;
  }
}
.darkcyan{
  &:before {
    background: darkcyan;
  }
}
.blueviolet{
  &:before {
    background: blueviolet;
  }
}
.coral{
  &:before {
    background: coral;
  }
}
.cornflowerblue{
  &:before {
    background: cornflowerblue;
  }
}
.crimson{
  &:before {
    background: crimson;
  }
}
.darkgray{
  &:before {
    background: darkgray;
  }
}
.darkgreen{
  &:before {
    background: darkgreen;
  }
}
.darkkhaki{
  &:before {
    background: darkkhaki;
  }
}
.darkolivegreen{
  &:before {
    background: darkolivegreen;
  }
}
.darksalmon{
  &:before {
    background: darksalmon;
  }
}
.darkseagreen{
  &:before {
    background: darkseagreen;
  }
}
.dimgrey{
  &:before {
    background: dimgrey;
  }
}
.indianred{
  &:before {
    background: indianred;
  }
}
.indigo{
  &:before {
    background: indigo;
  }
}
.lightblue{
  &:before {
    background: lightblue;
  }
}
.lightcoral{
  &:before {
    background: lightcoral;
  }
}
.lightseagreen{
  &:before {
    background: lightseagreen;
  }
}
.disqus-comment-count {
  position: absolute;
    z-index: 100;
    display: inline-block;
    padding: 0.3em 0.5em;
    color: #fff;
    font-weight: bold;
    line-height: 1;
    font-size: 10px;  
    &:before,
    &:after {
      content: '';
      position: absolute;
      z-index: -1;
      // Upscale with font-size and shrink with scale for smoother appearance
      font-size: 2em;
      transform: scale(0.5);
      transform-origin: left top;
    }
    
    &:before {
      top: 0;
      left: 0;
      width: 200%;
      height: 200%;
      border-radius: 0.2em;
      // background: red;
    }
    
    &:after {
      top: 95%;
      top: calc(100% - 1px);
      left: 0;
      border: 0.25em solid transparent;
      border-top-width: 0.18em;
      border-bottom-width: 0.18em;
      border-top-color: #28f;
      border-right-color: #28f;
    }
  }