.add{
    position:relative;
    width: 100%;
}

.firstName {
    font-size: 2.2rem ;
    font-family: 'Noto Sans KR', sans-serif;
}

.secondName{
    font-size: 1.7rem;
    font-family: 'Noto Sans KR', sans-serif;
    margin-top: 1em;
}
.nameinput{
    width: 65%;
    height: 45px;
    margin-top: 1em;
}

.Button{
    margin-top: 8rem;
    position: absolute;
    left: 50%;
    transform:translateX(-50%);
}