.workspacemain{
    font-family: 'Noto Sans KR', sans-serif;

    // .rows{
    //     display: flex;
    //     flex-wrap: wrap;
    //     flex-direction: row;
    //     margin-left: 77px;
    //     margin-top: 21px;
    //     margin-bottom: 165px;
    // }
    .folder{
        width: 200px;
        height: 200px;
        position: relative;
    }
    .boxtop{
        width: 65px;
        height: 30px;
        // position: absolute;
        // top:0;
        // left: 0;
        background-color:#ffa000;
        border-radius: 5px 22px 5px 5px;
    }
    .boxbody{
        position: absolute;
        top:20px;
        left: 0;
        width: 200px;
        height: 130px;
        background-color:#ffca28;
        background: linear-gradient( to bottom,#FFCA28,#FFA000);
        border-radius: 5px 5px 5px 5px;
    
        p{
            padding:5px 0px 0px 10px;
        }
    
    }
    .document{
        position: relative;
    }
    .documentbody{
        position: absolute;
        top:20px;
        left: 0;
        width: 200px;
        height: 170px;
        margin-top: 3vh;
        background-color:#ffca28;
        background: linear-gradient( to bottom,#ffffff,#ffffff);
        border-radius: 5px 55px 5px 5px;
        border: 1px solid #888;
    
        p{
            font-family: 'Noto Sans KR', sans-serif;
            padding:10px 0px 0px 10px;
        }
    }
    
    
    .triangle{ 
        position: absolute;
        right: 0; 
        top:3px;
        width:40px; 
        height:40px; 
        z-index: 100;
        transform: rotate(90deg);
        background-color:rgba(243, 240, 240, 0.938); 
        border-radius: 200px 0 0 0;
        -moz-border-radius:200px 0 0 0; 
    }
    .adds span{
        cursor: pointer;
         p{
            display: inline-block;
            margin-left: 20px;
            font-size: 1rem;
            font-weight:800;
            color: #888;
        }
    }
    .adds .iconbox1{
        .iconbox2{
            position: relative;
            width: 60px;
            height: 40px;
            display: inline-block;
        }

        .iconfolder{
            position: absolute;
             font-size: 35px;
             -webkit-text-stroke: 2px #FFA000;;
             -webkit-text-fill-color: transparent; 
         }

         .plus{
            margin-left: 10px;
            margin-top: 12px;
            font-size: 13px;
            color: #FFA000;
        }
    }

    .adds .iconbox2{
        margin-left: 30px;

        .iconfile{
            position: absolute;
             font-size: 32px;
             -webkit-text-stroke: 2px #aca9a9;
             -webkit-text-fill-color: transparent; 
         }
         .plus{
            margin-left: 8px;
            margin-top: 12px;
            font-size: 13px;
            color: #aca9a9;
        }
    }  
}



