.logout{
    border: none;
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.userid{
    margin-right: 1vw;
}
.profilebox{
    margin-right: 25px;
}

.profile{
    width: 33px;
    height: 33px;
    float: left;
    margin-right: 10px;
}
.profile span{
    width: 100%;
    height: 100%;
    display: block;
    background-size: cover;
    overflow: hidden;
    margin-top: 2px;
}

.form-inline{
    margin-right: 2vw;
}

.form-inline .form-control{
    width: 350px !important;
}

