* {
    list-style: none;
    font-family: 'Noto Sans KR', sans-serif;
}

.listheader {
    width: 100%;
    height: 50px;
    background-color: #fff;
}

.listheader h1 {
    width: 200px;
    height: 50px;
    line-height: 36px;
    display: inline-block;
    margin-left: 3%;
}

.listheader>h1>img {
    width: 100%;
}

.listheader nav {
    width: 70%;
    float: right;
    height: 50px;
}

.listheader nav ul {
    float: left;
}

.listheader nav ul li {
    float: left;
}

.listheader .nav-item {
    float: left;
    margin-right: 50px;
}

.listheader .nav-item .form-inline {
    display: flex;
    flex-flow: row wrap;
    flex-wrap: nowrap;
    margin-top: 4px;
}

.listheader .form-inline .d-none {
    width: 43px;
    height: 43px;
}
.listheader .form-inline .form-control{
    width: 450px;
}

.listheader .profile_box {
    width: 30px;
    height: 30px;
    display: inline-block;
}

.listheader .profile_box>img {
    width: 100%;
}

.listheader li>p {
    display: inline-block;
    line-height: 50px;
    margin-left: 8px;
    font-weight: bold;
    font-size: 1.1rem;
}

.listheader .user_box {
    float: left;
    margin-left: 250px;
}

.li_bell {
    margin-left: 50px;
}

.li_bell .bell {
    font-size: 25px;
    color: rgba(0, 0, 0, 0.5);
    line-height: 52px;
}

/* 본문 */
.workspacemain>.row {
    margin-bottom: 3%;
}

.workspacemain>h2 {
    margin: 2% 0 4% 0;
}

.workspacebox {
    background-color: #fff;
    width: 900px;
    height: 130px;
    margin-left: 5%;
    position: relative;
    border: 1px solid #d5dce6;
    box-shadow: inset 0 2px 0 0 #f2f5f8;
}

.workspacebox>h2 {
    position: absolute;
    top: 50%;
    left: 2%;
    transform: translateY(-50%)
}

.workspacebox>a {
    text-decoration: none;
    line-height: 49px;
    display: inline-block;
    width: 48px;
    height: 48px;
    color: #fff;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 4px;
}

.workspacebox .in {
    right: 13%;
    background-color: #127cd8;
}

.workspacebox .out {
    right: 5%;
    border: 1px solid #d2d2d2;
    color: #616161;
    background: #f8f8fa;
}

.workspacemain .btn {
    width: 900px;
    height: 60px;
    margin-left: 5%;
    font-size: 1.3rem;
}